*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
    font-size: 15px;
}


#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#caixaPesquisa{
    background-color: #f7f7f7;
    color: #a4a4a4;
    border: none;
    border-radius: 8px;
    /* padding: 34px 384px  */
    width: 559px;
    height: 60px;
    padding-left: 20px;

}

#login a{
   color: #515151;
}







/* nav{
    display: inline-block;
}

#listas li {
   display: inline-block;
   
}

#listas li a{
    text-decoration: none;
    color: #C92071;
} */ 